<center>
<div class="card user-card" style="width: 70%">
  <div class="card-body">
    <h5 class="card-title">Tu es sur la page de la ville de <%= @city.name %></h5>
    
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Zip code : <%= @city.zip_code %></li>
    
    </ul>
  </ul>
</div>
</center>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Bienvenue sur la page de la ville <%= @city.name %> </h1><br>
    </div>
  </div>

  
