<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container py-5">
    <div class="row mb-12">
      <div class="col-lg-12">
      <center>
        <h2 class="display-12 font-weight-light">Notre équipe</h2>
        <p class="font-italic text-muted">The Hacking Chicas </p>
      </center> 
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jordan Creyelman</h5><span class="small text-uppercase text-muted">Senior Developper</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100026078470815" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/jordan-creyelman/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/jordan-creyelman" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Loïs Kouninef</h5><span class="small text-uppercase text-muted">Senior Developper</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/lo%C3%AFs-kouninef-b1651122a/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/LoisKOUNINEF/" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Enzo Bonnet</h5><span class="small text-uppercase text-muted">Senior Developper</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/enzo-bonnet-394658b3/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/enzostk/" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Samuel Khalifa</h5><span class="small text-uppercase text-muted">Senior Developper</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/samuel-khalifa-b63b2769/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Samuelkhalifa/" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Niall Burdon</h5><span class="small text-uppercase text-muted">Senior Developper</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/niallburdon/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/nburd01" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      
      <!-- Team item-->
      <div class="col-xl-3 col-sm-4 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Damian Pierre-Louis</h5><span class="small text-uppercase text-muted">Senior Developper</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://cdn.discordapp.com/attachments/887258359252783116/904766149634453564/trollface_watching_you.png" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/teacher-a-1a266a1b5/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Teacher-droid" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
                