/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 .user-card {
  margin: auto;
  margin-top: 15vh;
}

.card-gossip{
 width: 50%;
 margin: auto;
 margin-top: 30vh;
}

.create-potin {
 margin: auto;
 margin-top: 20vh;
 width: 50%;
 text-align: center;
}

.fond {
  background: url('https://images.pexels.com/photos/906018/pexels-photo-906018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
  position: fixed; /* Le fond est fixé en haut de la page */
  width: 100%; /* Il occupe toute la largeur de l'écran */
  height: 300px; /* On met ici la même hauteur que le jumbotron */
  top:0;
  left:0;
  z-index: -1;
 }
 .jumbotron {
  margin-bottom: 0px;
  height: 300px;
  color: white; /* Le texte sera affiché en blanc */
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
 }

